@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');
:root {
    --pink: #ff8da1;
    --dark-pink: #FF617D;
    --myfont: "Geist Mono", serif;
}



* {
    font-family: var(--myfont);
    background-color: var(--pink);
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #FF617D;
}

.card h2 {
    background-color: #FF617D;
}

.myAudio {
    display: none;
}


@media screen and (max-width: 500px) {
    body {
        text-align: center;
    }
    .card img {
        max-width: 100%;
    }

    .my-cont {
        padding: 1rem;
        
    }
    
    .card {
        width: auto;
    }

}